body {
}

main {
  justify-items: center;
  color: #e5e7eb;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  font-family: "Outfit";
  align-items: center;
  background-image: url("Background_image.svg");
  background-color: #121826;
}
.titulo {
  justify-items: center;
  width: 40%;
  text-align: center;
}
section {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 5%;
}
.tarjeta {
  border-radius: 5%;
  background-color: #212936;
  align-items: center;
  padding: 4%;

  margin: 15% 0;
}
img {
  max-width: 100%;
  border-radius: 10%;
}
p {
  font-size: 1rem;
  font-weight: 400;
}
h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.icono-tarjeta1 {
  border-radius: 50%;
  background-color: #fceed8;
  justify-self: flex-start;
  padding: 4%;
}
.icono-tarjeta2 {
  border-radius: 50%;
  background-color: #dee9fc;
  justify-self: flex-start;
  padding: 4%;
}
.icono-tarjeta3 {
  border-radius: 50%;
  background-color: #fbe5e6;
  justify-self: flex-start;
  padding: 4%;
}
